# ---------------------------
# Node / React Native / Expo
# ---------------------------

# Dependencias
node_modules/

# Archivos de entorno
.env
.env.local
.env.*.local
!.env.example

# Expo
.expo/
.expo-shared/
web-build/

# React Native / Builds
dist/
build/
android/
ios/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs
*.log

# Cache
.cache/
.vscode/
.idea/
*.swp
*.swo
*.tmp
*.temp

# Editor
*.sublime-workspace
*.sublime-project

# macOS
.DS_Store

# Windows
Thumbs.db
